/* ---------- PORTLET WRAPPER & ICONS ---------- */

.aui {
  %portlet-action-bar-custom {
    @include border-radius(20px);
    @include box-shadow(inset 0 1px 3px #000);
  }
  
  .portlet-content,
  .portlet-minimized .portlet-content-container {
    border: 1px solid #EAEAEA;
    padding: 12px 10px 10px;
    @include border-radius(0 0 3px 3px);
  }
  
  .portlet-topper {
    background: white;
    color: #F5f5f5;
    border: 1px solid #ddd;
    @include border-radius(3px 3px 0 0);
    
    .portlet-title {
      font-family: PizzaPress, Arial, sans-serif !important;
      font-size: 28px;
      font-weight: normal;
      color: #006491;
      border-left: solid 8px #e31837;
      margin: 10px;
      
      i,
      span img {
        display: none;
      }
    }
    
    .portlet-topper-toolbar {
      font-size: 0.8em;
      margin: -10px 0 0;
      padding: 0;
      right: 10px;
      top: 50%;
      
      a>i {
        color: #ccc;
      }
    }
  }
  
  .lfr-configurator-visibility .portlet-topper {
    background-color: #A9A9A9;
  }
  
  .portlet-borderless-bar {
    @extend %portlet-action-bar-custom;
    
    .portlet-title-default {
      padding-top: 1px;
    }
    
    .portlet-options {
      .dropdown-toggle {
        background-image: url(../images/portlet/options_borderless.png);
      }
    }
  }
  
  .signed-in.controls-visible .portlet-title {
    padding-right: 80px;
  }
  
  .portlet-asset-publisher .asset-content,
  .portlet-asset-publisher .asset-summary,
  .portlet-blogs .entry-body,
  .portlet-journal-content .journal-content-article,
  .portlet-message-boards .thread-body {
    word-wrap: normal;
  }
  
  .portlet-icons {
    float: none;
  }
  
  .page-maximized .portlet-icons {
    font-size: 11px;
  }
  
  .dropdown-menu>li.portlet-close>a {
    color: #C00;
    font-weight: bold;
    
    &:focus,
    &:hover {
      background-color: #C00;
      background-image: none;
      color: #FFF;
    }
  }
  
  .portlet-content {
    .lfr-icon-actions {
      @extend %portlet-action-bar-custom;
    }
  }
  
  .portlet-minimized {
    .portlet-content {
      border-width: 0;
    }
    
    .portlet-topper {
      @include border-radius(3px);
    }
  }
  
  /*Nested Portlet*/
  .portlet-nested-portlets .portlet-body {
    .portlet,
    .portlet-borderless-container {
      @include box-shadow(none);
    }
  }
  
  /*Documents and Media Display*/
  .portlet-document-library-display {
    
  }
}
