<header id="banner" role="banner">
    <div id="heading" class="heading">
        <h1 class="site-title">
            <a
                class="$logo_css_class"
                href="$site_default_url"
                title="#language_format ("
                go-to-x", [$site_name])"="go-to-x"
                ,=","
                [$site_name])""="[$site_name])"
                "">
                <img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width"/>
            </a>

            #if ($show_site_name)
                <span
                    class="site-name"
                    title="#language_format ("
                    go-to-x", [$site_name])"="go-to-x"
                    ,=","
                    [$site_name])""="[$site_name])"
                    "">
                    $site_name
                </span>
            #end
        </h1>
    </div>

</header>