<main id="content" class="content">
    <nav id="breadcrumbs">#breadcrumbs()</nav>

    #if ($selectable)
        $theme.include($content_include)
    #else
        $portletDisplay.recycle()

        $portletDisplay.setTitle($the_title)

        $theme.wrapPortlet("portlet.vm", $content_include)
    #end
</main>