.aui {
  .heading {
    .site-title {
      margin-top: 0;
    }

    .site-name {
      font-family: PizzaPress, Arial Narrow, sans-serif;
      color: #006491;
      font-size: 36px;
      display: inline-block;
    }
  }
}