<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<link href="$images_folder/favicon.ico" rel="icon" type="image/x-icon">
	<link href="$images_folder/favicon.png" rel="apple-touch-icon" />
	<link href="$images_folder/favicon72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="$images_folder/favicon114.png" rel="apple-touch-icon" sizes="114x114" />
	<link href="$images_folder/favicon144.png" rel="apple-touch-icon" sizes="144x144" />
	
	<!-- Google Analytics Core -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-52002435-1', 'dominos.com');
	  ga('send', 'pageview');
	</script>
	
	$theme.include($top_head_include)
	
</head>

<body class="$css_class bodyBG">

$theme.include($body_top_include)

#dockbar()

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<a class="$logo_css_class" href="$home_url" title="#language_format ("go-to-x", [$site_name])">
				<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
			</a>
			
			<h1 class="site-title">
				<a href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					#end
				</a>
			</h1>
			
			#if ($is_signed_in)
		    	<div class="search-custom" >
					$theme.search()			
				</div>
		 	#end
			
		</div>
		

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		
	</header>

	<div id="content">
	
		<h2 class="page-title">
			<span>$the_title</span>
		</h2>
		
		<nav id="breadcrumbs">#breadcrumbs()</nav>

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
		
		
	</div>

	<footer id="footer" role="contentinfo">
		<p id="legal" class="copyright">
			&copy; Domino's Pizza LLC. All Rights Reserved.
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<!-- Alloy Toggler for Feedback and Quick Links -->
#if ($is_signed_in)
	<div id="myToggler">
		<div class="alloy-toggler-header toggler-header-collapsed">QL<p>Quick Links</p></div>
	  	<div class="alloy-toggler-content toggler-content-collapsed">
		  	#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
			#set ($portlet_id = 'dominosquicklinks_WAR_dominosquicklinksportlet')
			#set ($instance_id = "1234")
			#set ($my_portlet_id = "${portlet_id}_INSTANCE_${instance_id}")
			$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
			$velocityPortletPreferences.reset()
	  	</div>
	  
	  	<div class="alloy-toggler-header toggler-header-collapsed"><span class="icon-bullhorn">&nbsp;</span><p>feedback</p></div>
	  	<div class="alloy-toggler-content toggler-content-collapsed">
		  	#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
			#set ($portlet_id = '56')
			#set ($instance_id = "2345")
			#set ($my_portlet_id = "${portlet_id}_INSTANCE_${instance_id}")
			$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
			$velocityPortletPreferences.reset()
	  	</div>
	</div>
#end

<script src="$javascript_folder/alloy_slide-out_toggler.js"></script>

 #set($hostName = $request.getLocalName())
<!-- Node: $!hostName -->

</body>

</html>