/* Webfont: PizzaPress-Ornaments */
@font-face {
  font-family: 'PizzaPressOrnaments';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("PizzaPress-Ornaments.eot");
  /* IE9 Compat Modes */
  src: url("PizzaPress-Ornaments.eot?#iefix") format("embedded-opentype"), url("PizzaPress-Ornaments.woff") format("woff"), url("PizzaPress-Ornaments.svg#PizzaPress-Ornaments") format("svg"), url("PizzaPress-Ornaments.ttf") format("truetype");
  /* Safari, Android, iOS */ }

