@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

$dockbarGradientEnd: black;
$dockbarGradientStart: #333;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

/* ---------- BIZ SPECIFIC STYLES ---------- */

@font-face {
    font-family: 'PizzaPress';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('../fonts/PizzaPress-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PizzaPress-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PizzaPress-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PizzaPress-Regular.svg#PizzaPress-Regular') format('svg'), /* Legacy iOS */
         url('../fonts/PizzaPress-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

.aui {
	body {
		font-family: Tahoma, Arial, Verdana;
		font-size: 13px; 
	}
	
	.customBodyBg {
		background-image: url(@theme_image_path@/_dpz_custom/paper_dpz.jpg);
	}
	
	.sign-in {
		display: none;
	}
	
	.container-fluid {
		padding: 0;
		height: 100%;
	}
	
	#wrapper {
		padding: 0;
		position: relative;
		
		#languageSelection {
			width: 100%;
			line-height: 24px;
			background: #f5f5f5;
			color: #999;
			padding: 4px;
			text-align: right;
			font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
			
			.taglib-language-list-text {
				padding: 0 6px 0 0;
			}
		}
		
		#banner {
			#heading {
				.logo {
					position: absolute;
					z-index: 301;
				}
			}
			
			.navbar .icon-caret-down {
				margin-right: 5px;
			}
			
			.page-title {
				text-align: center;
				background-color: #e31837;
				background-image: url(@theme_image_path@/_dpz_custom/crosshatch.png);
				margin: 0;
				padding: 0 110px;
		 		
		 		> h2 {
					clip: auto;
					position: relative;
					font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
					font-size: 24px;
					line-height: 26px;
					color: white;
					padding: 10px 0;
					margin: 0;
					display: inline-block;
				}
			}
		}	
		
		#content {
			max-width: 1286px;
			margin: 0 auto;
			padding: 20px 40px;
	  		background-color: #f5f5f5;
	  		@include box-shadow(0 2px 2px 0 rgba(0,0,0,0.10));			
	  		
	  		.journal-content-article {
				h1, h2, h3, h4, h5, h6 {
					font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
					margin-top: 18px;
					margin-bottom: 4px;
					line-height: normal;
				}
		
				h1{
					font-size: 32px;
					color: #006491;
				}
				
				h2{
					font-size: 24px;
					color: #666666;
				}
				
				h3{
					font-size: 16px;
					color: #333333;
				}
				
				h4{
					font-size: 16px;
					color: #666666;
				}
				
				.badge-important, .badge-important[href] {
					background-color: #e31837;
				}
				
				.badge-info {
					background-color: #006491;
				}
				
				#hrefFm {
					margin: 0 0 0;
				}
				
				
				/*STYLES IMPORTED FROM OLD BIZ*/
				/*fonts*/
		
				.captionpull {
					font-weight: bold;
					color: #006491;
				}
				
				cite {
					font-size: 10px;
					margin: 0;
					padding: 0;
				}
				
				/*images*/
				.img {
					border-style: solid;
					border-width: 1px;
					border-color: #999999;
				}
				
				.imglt {
					margin: 0 20px 5px 0;
					float: left;
					border-style: solid;
					border-width: 1px;
					border-color: #999999;
				}
				
				.imglt_noborder {
					margin: 0 20px 5px 0;
					float: left;
				}
				
				.imgrt {
					margin: 0 0 5px 20px;
					float: right;
					border-style: solid;
					border-width: 1px;
					border-color: #999999;
				}
				
				.imgrt_noborder {
					margin: 0 0 5px 20px;
					float: right;
				}
				
				.imglt_lg {
					margin: 5px 20px 100px 0;
					float: left;
					border-style: solid;
					border-width: 1px;
					border-color: #999999;
				}
				
				.imgrt_lg {
					margin: 5px 0 100px 20px;
					float: right;
					border-style: solid;
					border-width: 1px;
					border-color: #999999;
				}
				
				#plainpage_image {
					float: right;
					width: 450px;
					margin: 0;
					padding: 0 15px 120px 45px;
				}
				
				#plainpage_image p {
					font-size: 11px;
					color: #333333;
					font-weight: bold;
					margin: 4px 0 0 0;
					padding: 0;
				}
				
				#page_div {
					position: relative;
					width: 80%;
					border-width: 2px 0 0 0;
					border-top-color: #e31836;
					border-style: solid;
					margin: 45px auto 35px auto;
				}
				
				/*tables*/
				td {
					padding: 3px;
				}
				
				.tr_head {
					background-color: #00427a;
					color: #ffffff;
					font-weight: bold;
					text-align: center;
				}
				
				.tr_one {
					background-color: #d6e0ea;
				}
				
				.tr_two {
					background-color: #ecf3f9;
				}
				
				/*fact box*/
				#factbox_containerrt {
					position: relative;
					width: 275px;
					float: right;
					margin: 0 5px 40px 50px;
				}
				
				#factbox_containerlt {
					position: relative;
					width: 275px;
					float: left;
					margin: 5px 20px 20px 0;
				}
				
				#factbox_head {
					width: 275px;
					height: 40px;
					background-color: #006491;
				}
				
				#factbox_head h1 {
					font-size: 18px;
					color: #ffffff;
					padding: 4px 0 4px 0;
					margin: 0 ;
					text-align:center;
				}
				
				#factbox_body {
					width: 259px;
					background-color: #d6e0ea;
					border-style:solid;
					border-color: #006491;
					border-width: 0 2px 2px 2px;
					padding: 9px 6px 0 6px;
				}
				
				#factbox_bottom {
					width: 232px;
					height: 12px;
				}
				
				#factbox_body p {
					margin: 0 0 1em 0;
					font-size: 11px;
					line-height: 1.2;
				}
				
				#factbox_body li {
					margin: 0 0 8px -10px;
					font-size: 11px;
					line-height: 1.3em;
				}
				
				#factbox_body ul, ol {
					list-style-position:outside;
				}
				
				/*subnav*/
				#subnav {
					padding: 0 0 20px 0;
					margin: 0;
				}
				
				#subnav a {
					font-weight: bold;
					font-size: 14px;
				}
				
				/*misc*/
				hr {
				    border-top: 1px solid #ccc;
				    border-bottom: 1px solid white;
				}
			}
		}
	}
}

/* ---------- BASE LIFERAY CLASSIC THEME STYLES ---------- */
/* ---------- sytles prefixed with comment indicates modification or addition ---------- */
.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	.site-title {
		a:hover {
			text-decoration: none;
		}

		.site-name {
			/**/display: none;;
			font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
		}
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		/**/margin-bottom: 0px;

		.lfr-nav-item {
			span, a {
				@include ellipsis;

				/**//*max-width: 300px;*/
			}
		}
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}
		
		.staging-controls .staging-bar li.dropdown .dropdown-menu {
		    top: 40px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;
				/**/top: 250px;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}
		
		/**/.delete-tab {
			display: none;
		}

		.brand {
			margin-left: 0;
			padding: 0 20px 0 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			/**/float: none;
			/**/text-align: center;
			/**/margin: 0;
			/**/height: 40px;
			
			li {
				&.dropdown {
					> .dropdown-toggle {
						padding-right: 0;

						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						/**/background-color: #006491;
						/**/color: #f1f1f1;
					}
				}

				&.active > a {
					/**/background-color: #e31837;
					/**/background-image: url(@theme_image_path@/_dpz_custom/crosshatch.png);
					/**/color: #f1f1f1;
				}
			}

			> li > a {
				/**/padding: 10px 25px;
			}

			.dropdown-menu {
				/**/background: #f1f1f1;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}
				
				li {
					/**/text-align: left;
					/**/display: block;
					/**/width: 100%;

					a {
						/**/font-size: 16px;
						/**/color: inherit;
	
						&:hover {
							/**/background: #ddd;
							/**/color: black;
							/**/text-decoration: none;
						}
					}
	}
			}
		}

		.navbar-inner {
			/**/background: white;
			border-width: 0;
			/**/min-height: 40px;
			/**/padding-left: 110px;
			/**/padding-right: 110px;

			li {
				/**/float: none;
				/**/display: inline-block;
				
				a {
					/**/color: #006491;
					/**/font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
					/**/font-size: 20px;
					/**/line-height: 20px;
				}
			}
		}
	}

	.modify-pages {
		.delete-tab {
			background: #555;
			border: 2px solid #FFF;
			color: #FFF;
			font-size: 16px;
			padding: 4px;
			right: -10px;
			top: 0;
			z-index: 300;
		}

		.lfr-nav-item .lfr-nav-child-toggle {
			/**/padding: 0 10px 0 0;

			i {
				margin: 0;
			}

			@include respond-to(phone, tablet) {
				line-height: 1em;
				padding: 14px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.drag-handle {
			background-color: rgba(255, 255, 255, 0.75);
			color: #009AE5;
		}
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
		/**/text-align: center;
	}

	#breadcrumbs {
		/**/margin-bottom: 0px;

		.breadcrumb {
			margin-bottom: 0;
		}
		
		/**/ul {
			padding: 0 110px;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	/**/.portlet-borderless-container {
		padding: 0 0;
		background: transparent;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		/**/background: #006491;
		/**/background-image: url(@theme_image_path@/_dpz_custom/crosshatch.png);
		color: #FFF;
		padding: 0;

		.portlet-title {
			/**/font-size: 20px;
			/**/font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-message-boards .header-title {
		@include hyphenation;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-blogs .entry-body, .portlet-journal-content .journal-content-article, .portlet-message-boards .thread-body {
		word-wrap: break-word;
	}

	.edit-actions {
		list-style: none;
		margin-left: 0;
		margin-right: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	/**/#footer {
		max-width: 1366px;
	  	padding: 20px 0;
	  	border-top: 10px solid #017db4;
		background: #bbb;
		color: #ebebeb;
		font-size: 12px;
		background-image: url(@theme_image_path@/_dpz_custom/crosshatch.png);
		margin: 0 auto;
		
		.journal-content-article {
			padding: 0 30px;
			
			li {
	  			list-style: none; 
		  	}
		  	
		  	a {
		  		color: white;
		  		opacity: .7;
		  		font-size: 18px;
		  		
		  		&:hover {
		  			opacity: 1;
		  			text-decoration: none;
		  		}
		  	}
		  	
		  	h3 {
		  		color: #ebebeb;
		  		font-family: "PizzaPress", Helvetica, Arial, sans-serif !important;
		  		font-size: 20px;
		  		border-bottom: 1px solid #ccc;
  				line-height: 35px;
		  	}
		  	
		  	#internal {
			  	img {
			  		max-width: 50px;
			  		margin: 0 10px 10px 0;
			  	}
			}
		  	
		  	#external {
		  		img {
		  			max-width: 35px;
		  			margin: 0 10px 10px 0;
		  		}
		  	}
		  	
		  	#legal {
		  		background-color: #ccc;
		  		color: white;
		  		padding: 15px;
		  		@include border-radius(8px);
		  	}
		}
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;

		.portlet-actions {
			@include box-shadow(inset 2px 1px 2px #000);
		}

		.portlet-title-default {
			@include box-shadow(inset -2px 1px 2px #000);
		}
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		border: 0;
		
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
}