@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
/*@import url(color_schemes/dark.css);*/
/*@import url(color_schemes/light.css);*/

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

/* ---------- Base styles ---------- */

/**/html {
	height: 100%;
}

.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}
	
	/**/body {
		height: 100%;
		font-family: Arial,Verdana,sans-serif;
	}
	
	.bodyBG {
		/**/background: url(../images/custom/paper_dpz.jpg) repeat;
	}

	#wrapper {
		position: relative;
		/**/height: 100%;
		/**/background: url(../images/custom/paper_dpz.jpg) repeat;
	}
	
	/**/.logo img {
		max-height: 50px;
		width: auto;
		margin: 5px 0px;
	}

	.site-title {
		/**/display: inline-block;
		/**/margin: 0 0 0 15px;
		/**/vertical-align: bottom;
		
		a:hover {
			text-decoration: none;
		}

		.site-name {
			display: inline-block;
			/**/font-family: PizzaPress, Arial, sans-serif !important;
			/**/line-height: initial;
			/**/color: white;
			/**/@include border-radius(10px 10px 0px 0px);
			/**/padding: 5px 40px;
			/**/background: #D61F51;
		}
	}
	
	/**/.page-title {
		display:none;
		font-family: PizzaPress, Arial, sans-serif !important;
		margin: 0 0 15px 0;
		padding: 0px 15px;
		background: #666;
		border-bottom: dashed 2px white;
		color: white;
		font-size: 28px;
		line-height: initial;
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		/**/margin-bottom: 0px;
		/**/@include box-shadow(0 0 10px 0 rgba(0,0,0,0.15));
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}
	
	/**/#content{
		background-color: white;
		padding: 0 15px 15px 15px;
		@include box-shadow(0 0 10px 0 rgba(0,0,0,0.15));
		@include border-radius(0);
		
	}
	
	/**/ a {
		color: #006FA0; 
	}
	
	/**/ /* ---------- Alloy Slide-out Toggler ---------- */
	
	#myToggler {
	display: block;
  	cursor: pointer;
  	position: fixed;
  	top: 72px;
  	right: 5px;
  	z-index: 300;
  	
  	.alloy-toggler-header {
		font-family: PizzaPress, arial, verdana;
		background: #32363a;
		color: white;
		font-size: 25px;
		padding: 5px 0 5px 5px;
		margin-top: 5px;
		width: 100%;
		@include border-radius(4px 0 0 4px);
		
		> p {
			padding: 0;
			margin: 2px 0 0 0;
			font-size: 9px;
		}
	}
	
	.alloy-toggler-header:hover, .toggler-header-expanded {
		background-color: #d59d79;
	}
	
	.toggler-content-wrapper {
		@include box-shadow(0 2px 2px -1px #000);
	}
	
	.alloy-toggler-content {
		background-color: white;
		font-size: 100%;
		margin: 0;
		padding: 5px 2.5%;
		width: 300px;
		border: solid 1px #ccc;
	}
}
	
	/**/ /* ---------- Social Office ---------- */
	
	.so-portlet-user-bar {
		border-bottom: solid 2px #ddd;
		background: #252d31 url(../images/custom/my-social.png);
		background-repeat: no-repeat;
		background-position-x: 4px;
		background-position-y: 4px;
	}
	
	.so-portlet-user-bar a {
		border-right: dotted 1px #666;
	}
	
	.so-portlet-user-bar .so-logo {
		display: none;
	}
	
	.so-portlet-user-bar .so-logo img {
		display: none;
	}
	
	/**/ /* ---------- Seach ---------- */
	
	.search-custom  {
		float: right;
		display: inline-block;
	}
	
	.search-custom select {
		display: none;
	}
	
	.search-custom input[type="text"] {
		border: solid 1px #ddd;
		@include border-radius(3px);
		background-color: white;
		font-size: 20px;
		color: #999;
		line-height: initial;
		padding: 10px;
		margin-bottom:0;
	}
	
	.search-custom input[type="image"] {
		border: solid 1px #ddd;
		@include border-radius(3px);
		background: #D61F51;
		padding: 10px;
		max-height: 18px;
		max-width: 18px;
		margin-bottom:0;
	}
	

	/* ---------- Dockbar ---------- */

	/**/.portlet-dockbar .dockbar .user-notifications-count {
			background-color: #d61f51;
			color: white;
	}
	
	.dockbar {
	
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}
	
	/**/.dockbar-split {
		&.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
			background: #EDD4C3;
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;
				top: 72px;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					/**/margin: 5px;
					background-color: transparent;

					@include background-image(none);

					> a {
						/**/background: #32363a;
						line-height: inherit;
						/**/padding: 4px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							/**/background: #3A8CAE;
						}

						&.toggle-controls-link {
							/**/background: #d59d79;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
							
							/**/.controls-state-icon {
								color: white;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #A3A3A3;
						color: #fff;
						/**/border-color: #3A8CAE;
					}
				}

				&.active > a {
					/**/background-color: white;
					/**/color: #d61f51;
					/**/border-color: #d61f51;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				/**/background: #f5f5f5;
				/**/border-width: 1px;
				/**/margin:0 5px 0 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					/**/font-family: Arial, sans-serif !important;
					/**/font-size:14px;
					/**/color: #666;
					/**/font-weight:bold;
					/**/border-bottom: solid 2px #ddd;
					/**/margin-right: 0px;

					&:hover {
						background: none;
						/**/color: black;
						/**/text-decoration: none;
						/**/text-decoration: none;
						/**/border-bottom: solid 2px #3A8CAE;
						/**/background-image: none;
					}
				}
			}
		}

		.navbar-inner {
			/**/background: white;
			/**//*border-width: 0;*/
			min-height: 36px;
			/**/border-left: none;
			/**/border-right: none;
			/**/border-top: solid #ddd 1px;
			/**/border-bottom: solid #ddd 1px;
			/**/padding-left: 0;
			/**/padding-right:0;
			/**/width: 100%;

			li a {
				/**/color: black;
				/**/font-family: PizzaPress, Arial, sans-serif !important;
				/**/font-size: 18px;
				/**/border-bottom: solid #ccc 4px;
				/**/margin-right: 5px;
			}
		}
	}

	.modify-pages .delete-tab {
		/**/display: none;
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		/**/background-color: #F5f5f5;
	}

	#breadcrumbs {
		/**/margin-bottom: 15px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		/**/background: #3A8CAE;
		/**/color: #F5f5f5;
		padding: 0;

		.portlet-title {
			/**/font-size: 20px;
			font-weight: normal;
			/**/line-height: 34px;
			margin: 0;
			/**/font-family: PizzaPress, Arial, sans-serif !important;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-message-boards .header-title {
		/*@include hyphenation;*/
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-blogs .entry-body, .portlet-journal-content .journal-content-article, .portlet-message-boards .thread-body {
		word-wrap: normal;
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		/**/text-align: center;
		/**/font-family: PizzaPress, Arial, sans-serif !important;
		/**/font-weight: normal;
		/**/font-size: 14px;
		/**/color: #999;
		/**/padding-top: 10px;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}
	
	/**/.portlet-document-library-display .taglib-workflow-status .workflow-status {
		position: relative;
		
			.label {
				position: relative;
				top: 0;
				left: 0;
			}
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				/**/background-color: white;
				/*color: #D61F51;*/
				/*border-color: #D61F51;*/

				/**/ /*@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));*/
				@include box-shadow(none);
				/**/ /*@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);*/
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
		
		.icon-caret-down {
			background: none;
		}
	}
}