<a class="$logo_css_class" href="$home_url" title="#language_format (" go-to-x ", [$site_name])">
  <img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
</a>
