<!-- Social Meta Tags Generated via http://heymeta.com -->
<meta name="description" content="Extranet for Domino's franchisees, in-store team members, corporate team members and select vendors.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Welcome - DLIVE">
<meta itemprop="description" content="Extranet for Domino's franchisees, in-store team members, corporate team members and select vendors.">
<meta itemprop="image" content="https://dlive.dominos.com/live-theme/images/dlive-login-bg.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://dlive.dominos.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Welcome - DLIVE">
<meta property="og:description" content="Extranet for Domino's franchisees, in-store team members, corporate team members and select vendors.">
<meta property="og:image" content="https://dlive.dominos.com/live-theme/images/dlive-login-bg.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Welcome - DLIVE">
<meta name="twitter:description" content="Extranet for Domino's franchisees, in-store team members, corporate team members and select vendors.">
<meta name="twitter:image" content="https://dlive.dominos.com/live-theme/images/dlive-login-bg.jpg">