/* ---------- OKAY NAV ---------- */

.aui .primary_nav_wrap {

  body.okayNav-loaded {
    overflow-x: hidden;
  }

  .okayNav:not(.loaded) {
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .okayNav__nav--invisible {
    position: fixed;
    top: 76px;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }

  .okayNav__nav--invisible.nav-left {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .okayNav__nav--invisible.nav-right {
    right: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .okayNav__nav--invisible.transition-enabled {
    transition: -webkit-transform .4s cubic-bezier(.55, 0, .1, 1);
    transition: transform .4s cubic-bezier(.55, 0, .1, 1);
    transition: transform .4s cubic-bezier(.55, 0, .1, 1), -webkit-transform .4s cubic-bezier(.55, 0, .1, 1);
  }

  .okayNav__nav--invisible.nav-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .okayNav__menu-toggle {
    position: relative;
    top: 6px;
    float: left;
    width: 10px;
    height: 18px;
    cursor: pointer;
    transition: -webkit-transform .4s cubic-bezier(.55, 0, .1, 1);
    transition: transform .4s cubic-bezier(.55, 0, .1, 1);
    transition: transform .4s cubic-bezier(.55, 0, .1, 1), -webkit-transform .4s cubic-bezier(.55, 0, .1, 1);
  }
  
  .okayNav__menu-toggle:after {
    content: "more";
    padding-left: 12px;
    color: #ebebeb;
    font-size: 12px;
    text-decoration: none;
}

  .okayNav__menu-toggle.okay-invisible {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

  .okayNav__menu-toggle span {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    margin: auto;
    pointer-events: none;
    border-radius: 50%;
    background: whitesmoke;
  }

  .okayNav__menu-toggle span:nth-child(1) {
    top: 0;
  }

  .okayNav__menu-toggle span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .okayNav__menu-toggle span:nth-child(3) {
    bottom: 0;
  }

  .okayNav__menu-toggle.icon--active {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .okayNav__menu-toggle.icon--active:after {
    display: none;
  }

  .okayNav__nav--invisible {
    background: #006491;
    border-top: 1px solid #0080bb;
  }

  .okayNav__menu-toggle.icon--active span {
    background: whitesmoke;
  }
}

.aui .is-sticky .primary_nav_wrap {
  .okayNav__nav--invisible {
    top: 43px;
  }
}