// Colors

$main-bg-color: #f1f1f1;

$main-black-color: #333333;

$main-header-color: #ffffff;
$secondary-header-color: #787878;

$brand-color-1: #006491;
$brand-color-1-light: #1f8dbf;
$brand-color-2: #e31837;
$brand-color-2-light: #f82a49;
$brand-color-3: #333333;
$brand-color-4: #666666;
$brand-color-5: #999999;
$brand-color-6: #dddddd;

$brand-bg-color-1: #666666;
$brand-bg-color-2: #f5f5f5;
$brand-bg-color-3: #ffffff;

$dockbarGradientEnd: #32363a;
$dockbarGradientStart: #252d31;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

// Fonts

$primary-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$pizzapress-font-family: 'PizzaPress', "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;