.aui {
  #page {
    #blog {
      padding-bottom: 101px;
    
     h3 {
        color: #666;
        text-align: left;
        margin-bottom: 10px;
      }
      
      .blog_block {
        position: relative;
      }
      
      .blog_item {
        margin-bottom: 20px;
        background: #fff;
      }
      
      .blog_img {
        float: left;
        width: 50%;
        background: #00afdb;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        line-height: 0;
      }
      
      .blog_item:hover .blog_img {
        background: #e5f7fb;
        cursor: pointer;
      }
      
      .blog_img img {
        width: 100%;
        opacity: 0.9;
        filter: alpha(opacity=90);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }
      
      .blog_item:hover .blog_img img {
        opacity: 0.25;
        filter: alpha(opacity=25);
      }
      
      .blog_description {
        float: left;
        width: 44%;
        padding: 27px 30px 16px;
        background: #fff;
      }
      
      .post_content {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
      }
      
      .blog_description a.title {
        text-transform: uppercase;
        font-size: 15px;
        color: #505050;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      }
      
      .blog_description .blog_author a:hover,
      .blog_item:hover .blog_description a.title {
        color: #00afdb;
      }
      
      .blog_description .blog_author {
        padding: 10px 0 9px;
        color: #505050;
      }
      
      .blog_description .blog_author a {
        color: #505050;
      }
      
      .blog_info {
        display: inline-block;
        padding: 0 20px;
        background-repeat: no-repeat;
        color: #9f9f9f;
        background-image: url(../images/i2.png);
      }
    }    
  }
}