@charset "utf-8";
/* CSS Document */
#wrapper {
  width: 1023px;
  margin: 0 auto 0 auto;
  position: relative; }

#wrapper #sign-in {
  position: absolute;
  top: 8px;
  right: 120px;
  z-index: 300;
  color: #B4DDFF;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase; }

#wrapper .dockbar {
  position: absolute;
  top: 2px;
  left: 260px;
  z-index: 300;
  width: 625px;
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 1px 5px; }

.dockbar a {
  color: #fff;
  text-shadow: none; }

#foot {
  display: none; }

/*
body.css
--------------------------------------------------*/
body, td, th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

body {
  background-color: #FFFFFF;
  background-image: none;
  font-size: 11px; }

.customBG {
  background-image: url(../images/bg_linear.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-color: #00427a;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #00427a;
  padding: 0;
  margin: 0; }

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #00427a;
  padding: 0 0 0 0;
  margin: 0;
  line-height: normal; }

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  padding: 0 0 0 0;
  margin: 0;
  line-height: normal; }

.captionpull {
  font-weight: bold;
  color: #00427a; }

p {
  margin: 0 0 2em 0; }

a {
  font-weight: bold;
  color: #00427a;
  text-decoration: underline; }

a:hover {
  color: #e31836; }

li {
  line-height: 1.8em; }

cite {
  font-size: 10px;
  margin: 0;
  padding: 0; }

/*
images.css
--------------------------------------------------*/
.img {
  border-style: solid;
  border-width: 1px;
  border-color: #ffb60f; }

.imglt {
  margin: 0 20px 5px 0;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb60f; }

.imglt_noborder {
  margin: 0 20px 5px 0;
  float: left; }

.imgrt {
  margin: 0 0 5px 20px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb60f; }

.imgrt_noborder {
  margin: 0 20px 5px 0;
  float: right; }

.imglt_lg {
  margin: 5px 20px 100px 0;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb60f; }

.imgrt_lg {
  margin: 5px 0 100px 20px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: #ffb60f; }

#plainpage_image {
  float: right;
  width: 450px;
  margin: 0;
  padding: 0 15px 120px 45px; }

#plainpage_image p {
  font-size: 11px;
  color: #333333;
  font-weight: bold;
  margin: 4px 0 0 0;
  padding: 0; }

#page_div {
  position: relative;
  width: 80%;
  border-width: 2px 0 0 0;
  border-top-color: #e31836;
  border-style: solid;
  margin: 45px auto 35px auto; }

/*
table.css
--------------------------------------------------*/
td {
  padding: 3px; }

.tr_head {
  background-color: #00427a;
  color: #ffffff;
  font-weight: bold;
  text-align: center; }

.tr_one {
  background-color: #d6e0ea; }

.tr_two {
  background-color: #ecf3f9; }

/*
homehead.css
--------------------------------------------------*/
#homehead_language {
  position: absolute;
  margin-left: 910px;
  top: 8px;
  width: 100px;
  text-align: right; }

#homehead_language a {
  font-weight: bold;
  font-size: 11px;
  color: #b4ddff; }

#homehead_logo {
  position: absolute;
  margin-left: 20px;
  top: 5px;
  height: 128px;
  width: 128px;
  z-index: 100; }

#homehead_stripe {
  background-image: url(../images/homenav_bg.gif);
  background-repeat: no-repeat;
  background-position: 0 53px;
  padding-top: 53px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1023px;
  height: 74px;
  position: relative;
  z-index: 90; }

#homenav_container {
  width: 815px;
  float: right;
  height: 74px;
  padding: 0 0 0 0;
  margin: 0 8px 0 0;
  line-height: normal;
  background-image: url(../images/homenav_div.gif);
  background-repeat: repeat-x; }

#homenav_container a {
  margin: 0;
  padding: 0; }

/*
insidehead.css
--------------------------------------------------*/
#insidehead_language {
  position: absolute;
  margin-left: 910px;
  top: 8px;
  width: 100px;
  text-align: right; }

#insidehead_language a {
  font-weight: bold;
  font-size: 11px;
  color: #b4ddff; }

#insidehead_logo {
  position: absolute;
  margin-left: 20px;
  top: 5px;
  height: 100px;
  width: 100px;
  z-index: 100; }

#insidehead_stripe {
  background-image: url(../images/insidenav_bg.gif);
  background-repeat: no-repeat;
  background-position: 0 53px;
  padding-top: 53px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1023px;
  height: 48px;
  z-index: 90; }

#insidenav_container {
  width: 820px;
  float: right;
  height: 48px;
  padding: 0 0 0 0;
  margin: 0 8px 0 0;
  line-height: normal;
  background-image: url(../images/main_div.gif);
  background-repeat: repeat-x; }

#insidenav_container a {
  margin: 0 0 0 0;
  padding: 0; }

/*
insidetitle.css
--------------------------------------------------*/
#insidetitle_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  width: 1024px;
  height: 50px; }

#insidetitle_container h1 {
  font-size: 45px;
  color: #ffffff;
  padding: 0 0 0 7px;
  margin: 0 0 0 0;
  text-transform: uppercase; }

/*
sectionnav.css
--------------------------------------------------*/
#sectionnav_stripe {
  background-image: url(../images/sectionnav_bg.gif);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 1023px;
  height: 55px; }

#sectionnav_container {
  position: relative;
  width: 1003px;
  height: 40px;
  margin-left: 10px;
  padding-top: 12px; }

/*
home.css
--------------------------------------------------*/
#flash_container {
  margin-left: auto;
  margin-right: auto;
  width: 1023px;
  padding: 22px 0 0 0; }

#hometile_container {
  margin-left: auto;
  margin-right: auto;
  width: 1023px;
  height: 178px;
  margin-top: 10px;
  background-image: url(../images/home_tiles_bg.jpg);
  background-repeat: no-repeat; }

#hometile_left {
  padding: 26px 10px 0 26px;
  width: 474px;
  float: left; }

#hometile_right {
  padding: 26px 10px 10px 26px;
  width: 474px;
  float: right; }

#hometile_container h1 {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  padding: 0; }

#hometile_container p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0 0 12px 0;
  line-height: 1.4em; }

#hometile_container a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff; }

#hometile_container a:hover {
  color: #b4ddff; }

.tile_img {
  margin: 2px 10px 0 0;
  float: right; }

/*
mainbody.css
--------------------------------------------------*/
#body_bg {
  background-image: url(../images/body_bg.gif);
  background-repeat: repeat x;
  margin-left: auto;
  margin-right: auto;
  width: 1023px; }

#body_bottom {
  background-image: url(../images/body_bottom.gif);
  background-repeat: no-repeat;
  width: 1023px;
  height: 30px;
  margin-left: auto;
  margin-right: auto; }

#padded_content_full {
  margin: 0;
  padding: 15px 25px 1px 25px; }

#padded_content_plain {
  margin: 0;
  width: 620px;
  padding: 5px 25px 1px 25px; }

#padded_content_full p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 2em 0;
  padding: 0; }

#padded_content_full li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.8;
  margin: 0;
  padding: 0; }

#padded_content_full a {
  font-weight: bold;
  color: #00427a;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 2em 0;
  padding: 0; }

#padded_content_full a:hover {
  color: #e31836; }

/*
investors.css
--------------------------------------------------*/
#investors_alert {
  width: 300px;
  padding: 5px;
  margin: 0 0 10px 0; }

#investors_alert p {
  padding: 0;
  margin: 0; }

.investor_alertimg {
  margin: 10px 15px 10px 5px;
  float: left; }

.investors_news {
  margin: 0 0 1em 0; }

/*
subnav.css
--------------------------------------------------*/
#subnav {
  padding: 8px 25px 5px 22px;
  margin: 0; }

#subnav a {
  font-weight: bold;
  font-size: 14px;
  color: #e31836;
  text-decoration: none;
  margin-right: 30px; }

#subnav a:hover {
  color: #e31836;
  text-decoration: underline; }

/*
sectionhome.css
--------------------------------------------------*/
#sectionhome_container {
  margin: 0;
  padding: 0;
  height: 358px;
  padding: 0 0 15px 0; }

#sectionhome_container_new {
  margin: 0;
  padding: 0;
  width: 973px;
  padding: 0 0 20px 0; }

#sectionhome_img {
  float: left;
  width: 576px;
  height: 358px; }

#sectionhome_graphic {
  float: right;
  width: 376px;
  height: 358px;
  margin: 0 0 0 11px; }

/*
factbox.css
--------------------------------------------------*/
#factbox_containerrt {
  position: relative;
  width: 275px;
  float: right;
  margin: 0 5px 40px 50px; }

#factbox_containerlt {
  position: relative;
  width: 275px;
  float: left;
  margin: 5px 20px 20px 0; }

#factbox_head {
  width: 275px;
  height: 40px;
  background-image: url(../images/box_headbg2.gif);
  background-repeat: repeat-x; }

#factbox_head h1 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .5px;
  padding: 7px 0 0 0;
  margin: 0;
  text-align: center; }

#factbox_body {
  width: 259px;
  background-color: #d6e0ea;
  background-repeat: no-repeat;
  border-style: solid;
  border-left-color: #005892;
  border-right-color: #005892;
  border-bottom-color: #005892;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 0;
  border-bottom-width: 2px;
  padding: 9px 6px 0 6px; }

#factbox_bottom {
  width: 232px;
  height: 12px;
  background-image: url(../images/box_bottom.gif); }

#factbox_body p {
  margin: 0 0 1em 0;
  font-size: 11px;
  line-height: 1.2; }

#factbox_body li {
  margin: 0 0 8px -10px;
  font-size: 11px;
  line-height: 1.3em; }

#factbox_body ul, ol {
  list-style-position: outside; }

/*
video.css
--------------------------------------------------*/
#video_container {
  position: relative;
  width: 320px;
  height: auto;
  float: right;
  margin: 10px 0 130px 50px;
  background-color: #d6e0ea;
  border-style: solid;
  border-left-color: #005892;
  border-right-color: #005892;
  border-bottom-color: #005892;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 0;
  border-bottom-width: 2px; }

#video_container_head {
  height: 40px;
  background-image: url(../images/box_headbg2.gif);
  background-repeat: repeat-x; }

#video_container_logo {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0; }

#video_container_head h2 {
  font-size: 16px;
  padding: 7px 0 0 0;
  text-align: center;
  color: #ffffff; }

#video_container h4 {
  font-size: 13px;
  padding: 0;
  margin: 6px 5px 6px 5px;
  color: #00427a; }

#video_container p {
  font-size: 11px;
  padding: 0;
  margin: 6px 5px 6px 5px;
  line-height: 1.3em; }

#video_container li {
  margin: 0 0 0 -10px;
  font-size: 11px;
  line-height: 1.2; }

#video_container ul, ol {
  list-style-position: outside; }

/*
misc.css
--------------------------------------------------*/
/*
footer.css
--------------------------------------------------*/
#footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0 0 0 10px;
  width: 998px; }

#footer a {
  font-weight: bold;
  font-size: 11px;
  color: #b4ddff;
  text-decoration: none; }

#footer {
  font-size: 11px;
  color: #b4ddff; }

/*
legal.css
--------------------------------------------------*/
#legal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0 0 0 10px;
  width: 998px; }

#legal {
  font-size: 10px;
  color: #7aa5c9;
  line-height: 1.4; }

