/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@font-face {
  font-family: 'PizzaPress';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Regular.woff") format("woff"), url("../fonts/PizzaPress-Regular.svg#PizzaPress-Regular") format("svg"), url("../fonts/PizzaPress-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@media (max-width: 767px) {
  .aui body {
    padding-left: 0px;
    padding-right: 0px; } }
.aui {
  /*--end wrapper--*/ }
  .aui .so-portlet-user-bar {
    display: none; }
  .aui #wrapper {
    padding: 0;
    /*--end mobileTabsParent--*/ }
    .aui #wrapper #banner {
      background: #252d31;
      min-height: 45px; }
      .aui #wrapper #banner #sign-in {
        display: none; }
      .aui #wrapper #banner .logo {
        padding: 10px;
        position: absolute;
        z-index: 1; }
        .aui #wrapper #banner .logo > img {
          max-height: 25px;
          width: auto; }
      .aui #wrapper #banner .dockbar .navbar-inner {
        background: none;
        background-color: transparent;
        border: none;
        padding-left: 150px; }
        .aui #wrapper #banner .dockbar .navbar-inner .divider-vertical {
          display: none; }
        .aui #wrapper #banner .dockbar .navbar-inner .go-to {
          display: none; }
        .aui #wrapper #banner .dockbar .navbar-inner .sites-directory {
          display: none; }
        .aui #wrapper #banner .dockbar .navbar-inner .nav > li > a {
          text-shadow: none;
          color: white; }
        .aui #wrapper #banner .dockbar .navbar-inner .nav-collapse.open ul a {
          color: #555555; }
        .aui #wrapper #banner .dockbar .navbar-inner .dropdown-toggle {
          background-color: transparent; }
        .aui #wrapper #banner .dockbar .navbar-inner .nav-account-controls > li {
          background: transparent;
          background-image: none; }
    .aui #wrapper .mobileTabsParent .nav-tabs {
      margin-bottom: 0; }
      .aui #wrapper .mobileTabsParent .nav-tabs > li {
        width: 50%; }
        .aui #wrapper .mobileTabsParent .nav-tabs > li > a {
          font-family: "PizzaPress",Arial;
          font-size: 28px;
          line-height: normal;
          font-weight: bold;
          color: white;
          border: none;
          background-color: #006491;
          margin-right: 0;
          padding-left: 15px;
          padding-right: 15px;
          border-radius: 0; }
      .aui #wrapper .mobileTabsParent .nav-tabs > .active > a {
        background-color: #e31837; }
      .aui #wrapper .mobileTabsParent .nav-tabs .myNewsFeed a {
        background-image: url(@theme_image_path@/corner_right-pos.png);
        background-position: right top;
        background-repeat: no-repeat; }
      .aui #wrapper .mobileTabsParent .nav-tabs .dpzSocial a {
        background-image: url(@theme_image_path@/corner_left-pos.png);
        background-position: left top;
        background-repeat: no-repeat;
        text-align: right; }
    .aui #wrapper .mobileTabsParent .tabContentContainer {
      padding: 25px;
      border-width: 10px;
      border-color: #e31837;
      border-style: solid; }
    .aui #wrapper .mobileTabsParent .portlet-asset-publisher .asset-abstract {
      margin-bottom: 15px; }
      .aui #wrapper .mobileTabsParent .portlet-asset-publisher .asset-abstract .asset-title > a {
        color: #006491; }
        .aui #wrapper .mobileTabsParent .portlet-asset-publisher .asset-abstract .asset-title > a > img {
          display: none; }
      .aui #wrapper .mobileTabsParent .portlet-asset-publisher .asset-abstract .asset-content {
        margin-left: 0px; }
    .aui #wrapper .mobileTabsParent h1, .aui #wrapper .mobileTabsParent h2, .aui #wrapper .mobileTabsParent h3 {
      font-family: "PizzaPress",Arial;
      line-height: 28px; }
    .aui #wrapper #footer {
      position: relative;
      color: white;
      font-size: 18px;
      background-color: black;
      opacity: .8;
      display: block;
      width: 100%;
      padding: 10px 0px; }
      .aui #wrapper #footer > p {
        margin: 0 20px; }

/*--end aui--*/

