@import "compass";
@import "mixins";

@import url(custom_responsive.css);

.aui {
	body {
		background-color: #ebebeb;
	}

	a {
		font-weight: normal;
	}
	
	.chat-portlet {
		display: none;
	}	
	
	.mdl-layout__header {
		background: #e31837;
		
		.mdl-layout-title {
			font-family: "PizzaPress", arial, sans-serif;
			
				a {
				color: white;
				
				&:hover {
					color: #ebebeb;
					text-decoration: none;
				}
			}
		}
		
		.navbar {
			margin-bottom: 0px;
			
			.navbar-inner {
				padding-left: 25px;
				padding-right: 25px;
				border-radius: 0;
				background: white;
				
				.delete-tab {
					display: none;
				}
			}
		}
		
		.dockbar {
			left: inherit;
		
			.navbar-inner {
				background: transparent;
				box-shadow: none;
				border: 0;
				padding-right: 0px;

				#_145_navAccountControlsNavbarCollapse {
					position: relative;
				
					li {
						background: none;
						
						a.dropdown-toggle {
							text-shadow: none;
							color: #ebebeb;
						}
					
					}
				}
				
				.so-portlet-sites {
					.search input[type=text] {
				    	color: #ebebeb;
				    	border-color: #e06779;
				    	box-shadow: none;
					}
				}
				
				.nav-add-controls {
					position: fixed;
					right: 0;
					left: inherit;
					top: 130px;
					margin-right: 0;
					
					li {
						float: none;
						
						a {
							padding: 10px;
							
							.nav-item-label {
								display: none;
							}
						}
					}
				}
				
				.divider-vertical {
					display: none;
				}
			}
		}
	
	} /* //mdl-layout_header */
	
	.mdl-layout__drawer {
		background: #252d31 url(../images/user_bar_default_bg.png) 0 0 repeat-x;
	
		.mdl-layout-title {
		    
		    .logo {
				max-width: 150px;
			}
		}
		
		.search-custom {
			padding: 22px 22px 10px 22px;
			border-bottom: 1px solid black;
			background: #006491;
			
			span {
				display: block;
				text-align: center;
				color: #ebebeb;
				font-family: "PizzaPress", sans-serif;
			}
			
			form {
				margin-bottom: 0px;
				
				select {
					display: none;
				}
				
				input[type="text"] {
					max-width: 94%;
					margin-bottom: 3px;
					border-radius: 20px;
					-moz-border-radius: 20px;
					-webkit-border-radius: 20px;
					background-color: transparent;
				    border-color: #0094d6;
				    color: #ebebeb;
					
					
				}
				input[type="image"] {
					display: none;
				}
			}
		}
		
		/*.portlet-dockbar {
			
			#_145_navAccountControlsNavbarCollapse {
		    	position: relative;
		    	
		    	
		    	li {
		    		background: none;
		    	}
			}
			
			.navbar-inner {
				padding: 0;
				background: transparent;
			
				.container {
					
					.nav-add-controls {
						display: block;
						width: 100%;
						margin: 0;
						text-align: center;
	    				background: #006491;
	    				float: none;
	    				padding-bottom: 15px;
	    				
	    				.go-to {
	    					background: #006491;
	    				}
	    				
	    				li {
	    					display: inline-block;
	    					float: none;
	    					
		    				a {
		    					text-shadow: none;
		    					color: #ebebeb;
		    				
			    				.nav-item-label {
									display: none;
								}
								
								.user-notifications-count {
									margin: auto;
								}
	    				
	    					}
	    				}
					}
					
					.nav-account-controls {
			    		float: none;
			    		
			    		li {
			    			float: none;
			    			
			    			&.divider-vertical {
								height: 0;
								border: 0;
							}
							
							a {
								text-shadow: none;
								padding: 10px;
							    border: 1px solid #006491;
							    border-radius: 20px;
							    margin: 5px 22px;
							    text-align: center;
							    font-size: 14px;
							    color: #ebebeb;
							    -webkit-transition-duration: .5s;
							    -moz-transition-duration: .5s;
							    -o-transition-duration: .5s;
							    transition-duration: .5s;
							    -webkit-transition-property: background-color;
							    -moz-transition-property: background-color;
							    -o-transition-property: background-color;
							    transition-property: background-color;
								
								&:focus {
									color: white;
								}
								
								&:hover {
									color: white;
								}
							}
							
							.so-portlet-sites {
							    width: 100%;
							    
							    .portlet-body {
							    	width: 100%;
							    	
							    	.search-input {
								    	float: none;
								    	width: 75%;
									    margin-left: auto;
									    margin-right: auto;
								    }
								    
								    .control-container .site-controls-double {
									    width: 100%;
									}
							    }
							}
			    		}
					}
				}
			}
		}*/
		
		.so-portlet-user-bar {
			background: #006491;
			
			.so-logo {
				display: none;
			}
			
			.dashboard-nav {
			    padding: 15px 22px;
			    
			    li {
			    	width: 50%;
			    	
			    	a {
			    		color: #ebebeb;
						border: 1px solid white;
						border-radius: 20px;
						margin: 3px;
						text-align: center;
						padding: 5px 10px;
			    	}
			    }
			}
		}
		
		.mdl-navigation {
			padding-bottom: 16px;
		
			.mdl-navigation__link {
			    padding: 10px;
			    border: 1px solid #0094d6;
			    border-radius: 20px;
			    margin: 5px 22px;
			    text-align: center;
			    font-size: 14px;
			    color: #ebebeb;
			    -webkit-transition-duration: .5s;
			    -moz-transition-duration: .5s;
			    -o-transition-duration: .5s;
			    transition-duration: .5s;
			    -webkit-transition-property: background-color;
			    -moz-transition-property: background-color;
			    -o-transition-property: background-color;
			    transition-property: background-color;
			    
			    &:hover {
			    	background: #006491;
			    	text-decoration: none;
			    	
			    }
			}
		}
	
	} /* //mdl-layout__drawer */
	
	.mdl-layout__content {
	
		#wrapper {
			padding: 0 40px;
			
			.portlet {
				width: 100%;
				margin: 40px 0;
				background: white;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
				border-radius: 2px 2px 2px 2px;
				-moz-border-radius: 2px 2px 2px 2px;
				-webkit-border-radius: 2px 2px 2px 2px;
				
				.portlet-title {
					
					img {
						display: none;
					}
					
					.portlet-title-text {
						font-family: 'Roboto', arial, sans-serif;
					    font-size: 24px;
					    font-weight: 300;
					    margin: 15px;
   						color: #006491;
					}
				}
			}
		}
		
		.breadcrumb {
			position: fixed;
			width: 100%;
			margin: 0;
			bottom: 0;
		    -webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
		    border-radius: 0px;
		    z-index: 1;
		}	
	}
	
	
} /* //aui */



