@import "compass";
@import "mixins";

/* ---------- Dockbar ---------- */

@include respond-to(phone) {
	.aui {
		body {
			padding: 0;
		}
		
		@media (max-width: 767px)
			body {
			    padding-left: 0;
			    padding-right: 0;
		}
		
		.aui-carousel {
			.imageHeadline {
				font-size: 36px;
			}
			.imageCaption {
				font-size: 18px;
			}
		}
		
		.navbar-static-top {
		    margin-left: 0;
		    margin-right: 0;
		}
		
		#navigation {
			.nav {
				li {
					&.dropdown {
						> .dropdown-toggle {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}

@include respond-to(tablet) {
	.aui {
		
	}
}

@include respond-to(phone, tablet) {
	.aui {
	
		.dockbar-split {
			.dockbar {
				height: auto;
				position: relative;
				
				.navbar-inner {
					width: auto;
				}
			}
		}
	
		#_145_navAccountControlsNavbarBtn {
			display: none;
		}
	
		#heading {
			.logo {
				max-width: 120px;
			}
		}
		
		#navigation {

			&.open {

				.navbar-inner {
					background: transparent;
					padding-left: 0;
					padding-right: 0;
					position: absolute;
					z-index: 302;
					top: 0px;
					width: 100%;
					height: 100%;
					background-image: url(@theme_image_path@/_dpz_custom/transparent-bg_80.png);
					
					.nav {
						background-color: white;
						padding: 20px;
						margin: 3% 20%;
						@include border-radius(5px);
						@include box-shadow(0 1px 1px -1px #000);
						
						.dropdown-menu {
							li {
								text-align: center;
							}
						}
						
					}

					.nav-collapse {
						height: auto;
						overflow: visible;
						
						li {
							display: block;
							border-bottom: solid 2px #f1f1f1;
							
							a {
								.lfr-nav-child-toggle {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}