/* ---------- Dockbar ---------- */
@media (max-width: 767px) {
  .aui body {
    padding: 0; }
  .aui .aui-carousel .imageHeadline {
    font-size: 36px; }
  .aui .aui-carousel .imageCaption {
    font-size: 18px; }
  .aui .navbar-static-top {
    margin-left: 0;
    margin-right: 0; }
  .aui #navigation .nav li.dropdown > .dropdown-toggle {
    padding-left: 0; } }
@media (max-width: 979px) {
  .aui .dockbar-split .dockbar {
    height: auto;
    position: relative; }
    .aui .dockbar-split .dockbar .navbar-inner {
      width: auto; }
  .aui #_145_navAccountControlsNavbarBtn {
    display: none; }
  .aui #heading .logo {
    max-width: 120px; }
  .aui #navigation.open .navbar-inner {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    z-index: 302;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(@theme_image_path@/_dpz_custom/transparent-bg_80.png); }
    .aui #navigation.open .navbar-inner .nav {
      background-color: white;
      padding: 20px;
      margin: 3% 20%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 1px -1px black;
      -moz-box-shadow: 0 1px 1px -1px black;
      box-shadow: 0 1px 1px -1px black; }
      .aui #navigation.open .navbar-inner .nav .dropdown-menu li {
        text-align: center; }
    .aui #navigation.open .navbar-inner .nav-collapse {
      height: auto;
      overflow: visible; }
      .aui #navigation.open .navbar-inner .nav-collapse li {
        display: block;
        border-bottom: solid 2px #f1f1f1; }
        .aui #navigation.open .navbar-inner .nav-collapse li a .lfr-nav-child-toggle {
          display: none; } }

