.aui {
  #page {
    .greenBg {
      background-color: #8c9640;
    }
  
    .orangeBg {
      background-color: #f0702f;
    }
  
    .yellowBg {
      background-color: #fbb744;
    }

    .lightYellowBg {
      background-color: #fff797;
    }
  
    .blueBg {
      background-color: #00afdb;
    }

    .lightBlueBg {
      background-color: #e5f7fb;
    }
  
    .redBg {
      background-color: #e31837;
    }
  
    .blackBg {
      background-color: #333;
    }
  
    .greyBg {
      background-color: #666;
    }

    .lightGreyBg {
      background-color: #ebebeb;
    }
  
    .greenTxt {
      color: #8c9640;
    }
  
    .orangeTxt {
      color: #f0702f;
    }
  
    .yellowTxt {
      color: #fbb744;
    }

    .lightYellowText {
      color: #fff797;
    }
  
    .blueTxt {
      color: #00afdb;
    }

    .lightBlueTxt {
      color: #e5f7fb;
    }
  
    .redTxt {
      color: #e31837;
    }

    .greyTxt {
      color: #666;
    }
  
    .lightGreyTxt {
      color: #ebebeb;
    }
  
    .whiteTxt {
      color: #fff;
    }
  
    .blackTxt {
      color: #000;
    }
  }
}
