/* Webfont: PizzaPress-Regular */
@font-face {
  font-family: 'PizzaPress';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Regular.woff") format("woff"), url("../fonts/PizzaPress-Regular.svg#PizzaPress-Regular") format("svg"), url("../fonts/PizzaPress-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Antique */
@font-face {
  font-family: 'PizzaPressAntique';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Antique.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Antique.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Antique.woff") format("woff"), url("../fonts/PizzaPress-Antique.svg#PizzaPress-Antique") format("svg"), url("../fonts/PizzaPress-Antique.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Fill */
@font-face {
  font-family: 'PizzaPressFill';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Fill.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Fill.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Fill.woff") format("woff"), url("../fonts/PizzaPress-Fill.svg#PizzaPress-Fill") format("svg"), url("../fonts/PizzaPress-Fill.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Inline */
@font-face {
  font-family: 'PizzaPressInline';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Inline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Inline.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Inline.woff") format("woff"), url("../fonts/PizzaPress-Inline.svg#PizzaPress-Inline") format("svg"), url("../fonts/PizzaPress-Inline.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Ornaments */
@font-face {
  font-family: 'PizzaPressOrnaments';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Ornaments.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Ornaments.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Ornaments.woff") format("woff"), url("../fonts/PizzaPress-Ornaments.svg#PizzaPress-Ornaments") format("svg"), url("../fonts/PizzaPress-Ornaments.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Outline */
@font-face {
  font-family: 'PizzaPressOutline';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Outline.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Outline.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Outline.woff") format("woff"), url("../fonts/PizzaPress-Outline.svg#PizzaPress-Outline") format("svg"), url("../fonts/PizzaPress-Outline.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* Webfont: PizzaPress-Shadow */
@font-face {
  font-family: 'PizzaPressShadow';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("../fonts/PizzaPress-Shadow.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/PizzaPress-Shadow.eot?#iefix") format("embedded-opentype"), url("../fonts/PizzaPress-Shadow.woff") format("woff"), url("../fonts/PizzaPress-Shadow.svg#PizzaPress-Shadow") format("svg"), url("../fonts/PizzaPress-Shadow.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/*# sourceMappingURL=pizzaPress.css.map */

